.user {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
}

.user ul {
    list-style: none;
    padding: 1rem;
}

.user li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
}